Repository GabbyFerm/PortfolioSite: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

Update .eslintrc.json
  .eslintrc.json
Due: prettier --write

Update .lintstagedrc.json
  .lintstagedrc.json
Due: prettier --write

Update github/dependabot.yml
  github/dependabot.yml
Due: none

fixed base mode in vite config
  vite.config.ts
Due: none

Change production base path in Vite config
  vite.config.ts
Due: none

Remove debug console.log statements from Squiggle component (#3)
  package-lock.json
  src/components/ui/Squiggle.tsx
Due: prettier --write

Fix ESLint flat config syntax errors (#5)
  eslint.config.js
Due: eslint --fix, prettier --write

Remove trailing whitespace from vite.config.ts (#6)
  vite.config.ts
Due: none

Fix CSS import case sensitivity for Linux compatibility (#7)
  src/styles/index.css
Due: prettier --write

updated Dependabot
  github/dependabot.yml
Due: none

Updated type definitions
  src/components/portfolio/PortfolioCard.tsx
  src/components/portfolio/ProjectModal.tsx
  src/components/sections/Portfolio.tsx
  src/data/logosData.ts
  src/data/projectsData.ts
  src/types/index.ts
Due: none

Deleted unneccesary folder
  .github/dependabot.yml
  .github/workflows/deploy.yml
  .github/workflows/lint.yml
Due: none

Updated deploy workflow
  .github/workflows/deploy.yml
Due: none

Updated cv
  public/GabriellaFerm-CV-eng.pdf
Due: none

Updated cv (#22)
  public/GabriellaFerm-CV-eng.pdf
Due: none

Feat/updated cv pdf (#24)
  package-lock.json
  package.json
  public/GabriellaFerm-CV-eng.pdf
Due: prettier --write

git
  public/GabriellaFerm-CV-eng.pdf
Due: none

git (#25)
  public/GabriellaFerm-CV-eng.pdf
Due: none

Updated portfolio section with new logo
  package-lock.json
  src/assets/images/logos/retur-taggen.svg
  src/components/portfolio/LogoGrid.tsx
  src/data/logosData.ts
Due: prettier --write

Feat/update logosection (#26)
  package-lock.json
  src/assets/images/logos/retur-taggen.svg
  src/components/portfolio/LogoGrid.tsx
  src/data/logosData.ts
Due: prettier --write

Update development to reflect main (#27)
  package-lock.json
  public/GabriellaFerm-CV-eng.pdf
  src/assets/images/logos/retur-taggen.svg
  src/components/portfolio/LogoGrid.tsx
  src/data/logosData.ts
Due: prettier --write

added a portfolio project
  src/assets/images/projects/familybudgetbloom.jpg
  src/assets/images/projects/familybudgetbloom2.jpg
  src/data/projectsData.ts
Due: none

Development (#33)
  src/assets/images/projects/familybudgetbloom.jpg
  src/assets/images/projects/familybudgetbloom2.jpg
  src/data/projectsData.ts
Due: none

Add thesis project assets and portfolio updates
  public/thesis.pdf
  src/assets/images/Examensarbete.pdf
  src/assets/images/projects/thesis.jpg
  src/components/portfolio/PortfolioCard.tsx
  src/components/portfolio/ProjectModal.tsx
  src/data/projectsData.ts
  src/types/index.ts
Due: none

Add thesis project assets and portfolio updates (#36)
  public/thesis.pdf
  src/assets/images/Examensarbete.pdf
  src/assets/images/projects/thesis.jpg
  src/components/portfolio/PortfolioCard.tsx
  src/components/portfolio/ProjectModal.tsx
  src/data/projectsData.ts
  src/types/index.ts
Due: none

Update main (#37)
  public/thesis.pdf
  src/assets/images/Examensarbete.pdf
  src/assets/images/projects/thesis.jpg
  src/components/portfolio/PortfolioCard.tsx
  src/components/portfolio/ProjectModal.tsx
  src/data/projectsData.ts
  src/types/index.ts
Due: none

fix pdf link
  src/assets/images/thesis.pdf
Due: none

fix pdf link (#38)
  src/assets/images/thesis.pdf
Due: none

Fixed pdf link (#39)
  src/assets/images/thesis.pdf
Due: none

fix
  src/assets/images/projects/thesis.pdf
  src/data/projectsData.ts
Due: none

fix (#40)
  src/assets/images/projects/thesis.pdf
  src/data/projectsData.ts
Due: none

pdf link fix (#41)
  src/assets/images/projects/thesis.pdf
  src/data/projectsData.ts
Due: none

Fixed link to pdf not working
  src/data/projectsData.ts
Due: none

Path conditions:
  eslint --fix: (any of: *.js) or (any of: *.jsx)
  prettier --write: ((((any of: *.js) or (any of: *.jsx)) or (any of: *.css)) or (any of: *.json)) or (any of: *.md)
